@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fbfcfd] text-slate-800 font-sans antialiased selection:bg-brand-500 selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold text-slate-900;
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Utilities for hiding scrollbars while retaining touch scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
